body{margin: 0}
.bandeau {
	width:100%;
	height:100px;
	background-color:#00CCFF;
}
.contenu {
	width:100%;
	height:70%;
	background-color:#fce300;
}
.pied {
	width:100%;
	height:100px;
	background-color:#30db94;
}
.menu1 {
	width:80px;
	height:50%;
	background-color:#5eb653;
}
.menu2 {
	width:80px;
	height:50%;
	background-color:#9b4d8a;
}
.center{
    text-align: center;
}
.Vcenter{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.right{
	text-align:right;
}
.down{
    text-align: end;
}
