.bandeau {
	width:100%;
	height:100px;
	background-color:#00CCFF;
}
.contenu {
	width:100%;
	height:70%;
	background-color:#fce300;
}
.pied {
	width:100%;
	height:100px;
	background-color:#30db94;
}
.center{
    text-align: center;
}
.Vcenter{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}